body {
  margin: 0;
  padding: 0;
}
/* *{
  border: 1px solid red;
} */

/*********
NAV
****************/

.top {
  display: inline;
  padding: 1%;
  margin-top: 1em;
  float: right;
}
.head {
  padding-right: 3%;
}
.top {
  font-weight: 600;
  transition-duration: 1s;
  color: blue;
  cursor: pointer;
}
.top:hover {
  text-decoration: none;
  color: gold;
}
.logo {
  padding: 9px;
}


/*********
Departments
***************/


.card {
  color: #000;
  width: 22em;
  margin-top: 5%;
}
/*********
CONTENTS
****************/

.cover-page {
  height: 60vh;
  background-image: url(../img/aaron-burden-xG8IQMqMITM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*********
 INFO
****************/

.us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.color {
  height: 300px;
  background: red;
  padding: 3% 3% 0 3%;
  color:#fff;
}

/*********
 Counter
****************/

.add {
  background-color: #cf1515;
}
.count-group {
  padding: 3em 0;
  text-align: center;
}
.count-group span {
  font-size: larger;
  font-weight: 600;
  color: #fff;
}
.count-group img {
  width: 200px;
  border-radius: 50%;
  margin: 1em;
}

.l-w {
  width: 300px;
}
.single-team {
}
/*********
 ABOUT US 
****************/
.about {
  padding-bottom: 2em;
}
.more {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: large;
}
.m-us {
  padding-top: 0.5em;
}
.content h2 {
  font-size: 2.5em;
  margin-top: 0px;
}
.content p {
  font-size: large;
}

.about i {
  font-size: 1.3em;
  color: #007bff;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  box-shadow: inset 0 0 5px #007bff;
}

/*********
FOOTER
****************/

footer {
  background-color: #0b0b1d;
}
.social {
  padding-top: 1em;
}
.social i {
  font-size: 2em;
  padding-right: 0.5em;
}
.social a:hover {
  text-decoration: none;
}

/*********
MODAL
****************/
.nav-2 {
  display: none;
}
